<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Contrat de devis</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <p>Contrat #<span th:text="${contract.contractId}"></span> </p>
        </div>
        <div>
            <p>Créé le :<span th:text="${contract.createdAd}"></span> </p>
        </div>
    </div>
    <div class = "row">
        <div>
            <p>Nom Particulier <span th:text="${contract.getUserDetails.fullName}"></span></p>
        </div>
        <div>
            <p>Nom Professionnel <span th:text="${contract.jobberDetails.fullName}"></span></p>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Besoin :</h2> <span th:text="${contract.need.needTitle}"></span>
        </div>
        <div>
            <p>Description du besoin : <span th:text = "${contract.need.needDescription}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
