<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="http://localhost:35729/livereload.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Contrat de devis</title>
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <p>Contrat #<span style="font-weight: bold" th:text="${contract.contractId}"></span></p>
        </div>
        <div class="col text-end">
            <p><u>Créé le :
                <span th:text="${contract.createdAt.toLocalDate()}"></span> à
                <span th:text="${contract.createdAt.toLocalTime().toString()}"></span></u>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <h2>Contrat de prestation</h2>
    </div>
    <div class="row pt-3">
        <p><b>Entre les soussignés :</b></p>
    </div>
    <div class="row">
        <p>
            Nom & Prénom : <span th:text="${contract.userDetails.fullName}"></span> <br>
            Adresse : <span th:text="${contract.userDetails.adresse}"></span> <br>
            ci-après désignée « Le Client », <br>
            d'une part,
        </p>
    </div>
    <div class="row">
        <p>et</p>
    </div>
    <div class="row">
        <p>
            Nom & Prénom : <span th:text="${contract.jobberDetails.fullName}"></span> <br>
            Adresse : <span th:text="${contract.jobberDetails.adresse}"></span> <br>
            ci-après dénommée « le Prestataire de services » ou « le Prestataire », <br>
            d'autre part,
        </p>
        <p><b>il a été convenu ce qui suit :</b></p>
    </div>
    <div class="row">
        <p>
            <b>Article premier - Objet</b>
        </p>

        <p>Le présent contrat est un contrat de prestation ayant pour objet: <span th:text="${contract.need.needTitle}"></span> .

            <br>

            En contrepartie de la réalisation des prestations définies à l'Article premier ci-dessus, le client versera
            au prestataire la somme de <b><span th:text="${contract.devis.prestation}"></span></b> DT.
        </p>

        <p>
            <b>Article 2 – Date limite du travail</b>
        </p>
        <p>
            Ce contrat est passé pour une durée définie par le client. Il  prendra effet à la date convenue entre les deux partie et arrivera à son terme le
           <span th:text="${contract.need.dateLimite.toString()}"></span> .
        </p>

        <p>
            <b>Article 2 – Infos sur les véhicules de transport</b>
        </p>
        <p>
            Le client requière du prestatire
            <span th:text="${contract.need.vehicleInfos}"></span> pour l'aider dans la tâche mentionné dans l'Article premier .
        </p>

        <p>
            <b>Article 4 - Exécution de la prestation</b>
        </p>

        <p>Le prestataire s'engage à mener à bien la tâche précisée à l'Article premier, conformément aux règles de
            l'art et de la meilleure manière.
        </p>
    </div>
</div>
</body>
</html>
