<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="http://localhost:35729/livereload.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Contrat de devis</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .boldy {
            font-weight: bold;
        }
        .center-text {
            text-align: center;
        }
        .logo {
            top: 0;
            right: 0;
            position: absolute;
            width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
<div>
    <div>
    <p>
        Contrat #<span class="boldy" th:text="${contract.contractId}"></span>
    </p>
        <img class="logo" alt="logo" src="http://localhost:8080/logo.png"/>
    </div>
    <div>
        <h1 class="center-text">Contrat de prestation</h1>
    </div>
    <div>
        <p class="boldy">Entre les soussignés :</p>
    </div>
    <div>
        <p>
            Nom & Prénom : <span th:text="${contract.userDetails.fullName}"></span> <br>
            Adresse : <span th:text="${contract.userDetails.adresse}"></span> <br>
            ci-après désignée « le Client », <br>
            d'une part,
        </p>
    </div>
    <div>
        <p>et</p>
    </div>
    <div>
        <p>
            Nom & Prénom : <span th:text="${contract.jobberDetails.fullName}"></span> <br>
            Adresse : <span th:text="${contract.jobberDetails.adresse}"></span> <br>
            ci-après dénommée « le Prestataire de services » ou « le Prestataire », <br>
            d'autre part,
        </p>
        <p class="boldy">il a été convenu ce qui suit :</p>
    </div>
    <div>
        <p class="boldy">
           Article premier - Objet
        </p>

        <p>Le présent contrat est un contrat de prestation ayant pour objet: <span class="boldy" th:text="${contract.need.needTitle}"></span> .

            <br>

            En contrepartie de la réalisation des prestations définies à l'Article premier ci-dessus, le client versera
            au prestataire la somme de <span class="boldy" th:text="${contract.devis.prestation}"></span> DT.
        </p>

        <p class="boldy">
           Article 2 – Date limite du travail
        </p>
        <p>
            Ce contrat est passé pour une durée définie par le client. Il  prendra effet à la date convenue entre les deux partie et arrivera à son terme le
           <span th:text="${contract.need.dateLimite.toString()}"></span> .
        </p>

        <p class="boldy">
            Article 3 – Infos sur les véhicules de transport
        </p>
        <p>
            Le client requière du prestatire
            <span th:text="${contract.need.vehicleInfos}"></span> pour l'aider dans la tâche mentionné dans l'Article premier .
        </p>

        <p class="boldy">
            Article 4 - Exécution de la prestation
        </p>

        <p>Le prestataire s'engage à mener à bien la tâche précisée à l'Article premier, conformément aux règles de
            l'art et de la meilleure manière.
        </p>
    </div>
    <div>
        <p>Fait le
            <span th:text="${contract.createdAt}"></span>
         </p>
    </div>
</div>
</body>
</html>
